{{#partial "content"}}

    <div class="card">
        <h2 class="card-title">Hero list!    </h2>
        {{#if heroes}}
            {{#each heroes }}
                <p>{{name}}  <a href="/heroes/{{id}}">details</a></p>
            {{/each}}
        {{else}}
            <p class="alert alert-warning text-center">No heroes found!</p> <br> <a class="mt-2 text-center hover-1" href="/posts/new">  Create hero here</a>
        {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}