
{{#partial "title"}}

{{/partial}}

{{#partial  "content"}}

    <div class="card bg text-center">
        <h2 class="card-title  text-center " id="success" >Welcome!!</h2>
        <hr>
        <p class="card-text text-center"> Create squads and add heroes below.</p>
        <a href="/squads/new"   ><button  type="button" class="btn btn-secondary mt-4 ">create squad</button></a>
        <a href="/heroes/new"  ><button  type="button" class="btn btn-secondary mt-5">add hero</button></a>
        <br>
    </div>

{{/partial}}

{{> layout.hbs}}

