{{#partial "content"}}
    <div class="alert alert-success">
        <h1>Success!</h1>
        <p>The squad is successfully added.</p>
        <p><a href="/squad/list"> View your Squad</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}