{{#partial "details"}}
    <div class="cards__item">
        <h2 class="h_2">Success!</h2>
        <p class="alert alert-success">Your hero has been edited.</p>
    </div>

    <a class="btn btn-secondary" href="/">Go Back</a>

{{/partial}}

{{> layout.hbs}}